.refiner{
    min-width: 240px;
    height: 93vh;
    position: sticky;
    top: 7vh;
    border-right: solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.refiner-header{
    font-size: 16px;
    text-decoration: underline;
}
.refiner-container{
    width: 80%;
    height: 90%;
}
.filter-type{
    margin-top: 2%;
    margin-bottom: 5%;
    border-bottom: solid;
    font-size: 16px;
}
.refiner-reset-btn{
    width: 75px;
    height: 25px;
    font-size: 14px;
    background-color: rgb(240, 240, 240);
    border: solid 0.5px black;
    color: black;
}
.refiner-bg-closeout-btn{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 219, 0.455);
    z-index: 0;
}
.sidebar-refiner{
    min-width: 240px;
    height: 93vh;
    position: fixed;
    top: 7vh;
    border-right: solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}
.filter-toggle-btn{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    left: 5%;
    top: 10%;
    cursor: pointer;
}

@media (max-width: 850px){
    .filter-toggle-btn{
        display: block;
    }
    .refiner{
        display: none;
    }
    .refiner-bg-closeout-btn{
        display: block;
    }
}
@media (max-width: 550px) {
    
}