.feat-card {
    min-width: 225px;
    width: 225px;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(240, 240, 240);
    padding: 5px;
}
.feat-card a{
    display: block;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.feat-card-img-container{
    width: 100%;
    height: 250px;
}
.feat-card-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.feat-card-name{
    margin-top: 20px;
}
.feat-card-price{
    margin-bottom: 20px;
}