.intro-container{
    width: 100%;
    background-color: black;
    height: 80vh;
    border-bottom: 5px solid black;
    position: relative;
}
.intro-contents{
    display: flex;
    width: 100%;
    height: 100%;
}
.intro-left-container{
    width: 50%;
    height: 100%;
}
.img1-container{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}
.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-shopnow-btn{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 275px;
    height: 90px;
    font-size: 25px;
    cursor: pointer;
    background-color: white;
    z-index: 1;
}
.intro-shopnow-btn:hover{
    background-color: rgb(223, 223, 223);
}
.intro-right-container{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
.img2-container{
    flex-basis: 50%;
    width: 100%;
    height: 50%;
    filter: grayscale(1);
}
.img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px){
    .intro-right-container{
        display: none;
    }
    .intro-left-container{
        width: 100%;
    }
    .intro-shopnow-btn{
        width: 250px;
        height: 75px;
        font-size: 25px;
    }
}