.item-card {
    min-width: 225px;
    width: 225px;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0 0 8px 4px rgb(219, 219, 219);
}
.item-card a{
    display: block;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 20px 5px 10px 5px;
}
.item-card-img-container{
    width: 100%;
    height: 240px;
}
.item-card-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item-card-name{
    margin-top: 15px;
}